* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}
nav {
  background-color: #1e293b;
  width: "100%";
  height: "5rem";
  font-weight: 600;
  border-bottom: 1px solid rgb(19, 18, 18);

  ul {
    list-style: none;
    display: flex;

    li {
      padding: 25px;
      a {
        color: #f1f5f9;
        text-decoration: none;
      }
    }
    :hover {
      transition: 0.6s;
      background-color: #2563eb;
      a {
        cursor: pointer;
        color: white;
      }
    }
  }
}
#background {
  background-color: #0f172a;
  width: 100%;
  height: 93.1vh;
  display: flex;
  justify-content: center;
}

#container {
  margin-top: 40px;
  padding:50px;
  width: 80%;
  height: 750px;
  background-color: #1e293b;
  box-shadow: 0 0 10px 5px hsl(221, 93%, 37%, 0.7);
  display:flex;
  flex-direction: row;
  gap:50px;
  div{
    flex: 1;
  }
}

#header{
  h1{
    color: #3b82f6;
  }
  h3{
    padding-top: 5px;
    color: #e2e8f0;
  }
  p{
    padding-top: 10px;
    color: #94a3b8;
  }
}

.sessoes{
  h2{
    padding-top:30px;
    color: #3b82f6;
  }
  h3{
    padding-top: 20px;
    color: #e2e8f0;
  }
  p, h4{
    padding-top: 5px;
    color: #e2e8f0;
  }
  ul li{
    color: #94a3b8;
  }
  ul{
    padding-top: 15px;
  }
}