* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}
nav {
  background-color: #1e293b;
  width: "100%";
  height: "5rem";
  font-weight: 600;
  border-bottom: 1px solid rgb(19, 18, 18);

  ul {
    list-style: none;
    display: flex;

    li {
      padding: 25px;
      a {
        color: #f1f5f9;
        text-decoration: none;
      }
    }
    :hover {
      transition: 0.6s;
      background-color: #2563eb;
      a {
        cursor: pointer;
        color: white;
      }
    }
  }
}
#background {
  background-color: #0f172a;
  width: 100%;
  height: 93.1vh;
  display: flex;
  justify-content: center;
}

#container {
  margin-top: 40px;
  width: 50%;
  height: 850px;
  background-color: #1e293b;
  box-shadow: 0 0 10px 5px hsl(221, 93%, 37%, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  #eu {
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
  h1 {
    padding-top: 30px;
    color: #3b82f6;
  }
  h2 {
    padding-top: 5px;
    color: #e2e8f0;
  }
  h3 {
    padding-top: 10px;
    color: #94a3b8;
  }
}

#container_buttons {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 15px;
  width: 250px;
  a {
    text-decoration: none;
    color: #f1f5f9;
    background-color: #2563eb;
    padding: 15px;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: #1d4ed8;
    }
  }
}

#tecnologias {
  margin-top: 20px;
  img {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
}
